*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 190px;
    padding: 5px 1em;
    background-color: var(--bg-color);
    border-right: 1px solid #B9D8E1;

    position: sticky; /*keep the sidebar in the same place*/
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close {
    padding: 5px;
    width: 63px;
}

#sidebar.close .sidebar-header span {
    display: none;
}

#sidebar ul {
    list-style: none;
}

#sidebar li {
    margin-bottom: 1em;
}

#sidebar ion-icon {
    font-size: 1.2em;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    flex-shrink: 0;
}

#sidebar .sun-menu a{
    padding-left: 2em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
}

#toggle-btn ion-icon {
    transition: transform 150ms ease, background-color 150ms ease;
}

#toggle-btn ion-icon:hover {
    background-color: #acd1ee;
}

#toggle-btn.rotate ion-icon {
    transform: rotate(-90deg);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: 700;
}

.menu-btn {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font: inherit;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.75em 1em;
    border-radius: 0.5em;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.menu-btn:hover {
    background-color: #acd1ee;
}

ion-icon {
    font-size: 1.2em;
}

body {
    color: var(--timer-text);
    background-color: var(--bg-color);
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, var(--bg-color), var(--primary-color));

}  

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    color: var(--text-color);
}

p{
    margin-bottom: 1rem;
}

button{
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 40px;
    font-family: inherit;
}

.pomodoro-app {
    text-align: center;
    margin-bottom: 40px;
}  

.pomodoro-app .title{
    font-size: 90px;
    margin-top: 60px;
    margin-bottom: 10px;
    color: var(--timer-text);
}

.pomodoro-app .timer{
    font-size: 200px;
    color: var(--timer-text);
    margin-bottom: 20px;
}

.pomodoro-app button{
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: var(--button-text);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s
    ease-in-out;
}

.pomodoro-app button:hover{
    opacity: .7;
}

#start{
    background-color: var(--start-color);
}

#stop{
    background-color: var(--stop-color);
}

#reset{
    background-color: var(--reset-color);
}

#rest{
    display: block;   
    margin: 0 auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    background-color: var(--rest-color);
}

.task-app {
    width: 100%;
    max-width: 540px;
    background: var(--bg-color);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

/*this makes a white box*/
.task-app .toDoApp{
    width: 100%;
    max-width: 540px;
    background: var(--bg-color);
    margin: 100px auto 20px; /*it is horizontally centered as we set the margin left and right side auto*/
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.task-app .toDoApp h2{
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task-app .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* this selects all input elements */
.task-app input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

/* this selects all button elements */
.task-app button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #a49393;
    color: #fff; /*font color*/
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* this selects all ul li elements */
.task-app ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.task-app ul li::before {
  content: '';
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid grey ;
  background-size: cover;
  background-position: center;
  top: 7px;
  left: 8px;
}

.task-app ul li.checked{
    text-decoration: line-through;
}

.task-app ul li.checked::before{
    content: '✓';
    font-size: 20px;
    font-weight: 900;
    color: black;
    background-color: var(--checked);
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-app ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.task-app ul li span:hover{
    background: #edeef0;
}