.task-app {
    width: 100%;
    max-width: 540px;
    background: var(--bg-color);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

/*this makes a white box*/
.task-app .toDoApp{
    width: 100%;
    max-width: 540px;
    background: var(--bg-color);
    margin: 100px auto 20px; /*it is horizontally centered as we set the margin left and right side auto*/
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.task-app .toDoApp h2{
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task-app .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* this selects all input elements */
.task-app input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

/* this selects all button elements */
.task-app button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #a49393;
    color: #fff; /*font color*/
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* this selects all ul li elements */
.task-app ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.task-app ul li::before {
  content: '';
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid grey ;
  background-size: cover;
  background-position: center;
  top: 7px;
  left: 8px;
}

.task-app ul li.checked{
    text-decoration: line-through;
}

.task-app ul li.checked::before{
    content: '✓';
    font-size: 20px;
    font-weight: 900;
    color: black;
    background-color: var(--checked);
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-app ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.task-app ul li span:hover{
    background: #edeef0;
}