:root {
    --bg-color: #F9F1F0;
    --primary-color: #F79489;
    --text-color: #333;
    --button-bg: #3B0404;
    --button-text: #fff;
  
    --start-color: #DE847B;
    --stop-color: #3B0404;
    --reset-color: #7f8c8d;
  }
  